<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XKey.addSpaceAfterMacro</key>
	<false/>
	<key>XKey.autoCapsMacro</key>
	<false/>
	<key>XKey.autoCheckForUpdates</key>
	<true/>
	<key>XKey.beepOnToggle</key>
	<false/>
	<key>XKey.codeTable</key>
	<integer>0</integer>
	<key>XKey.convertToolHotkeyCode</key>
	<integer>0</integer>
	<key>XKey.convertToolHotkeyModifiers</key>
	<integer>0</integer>
	<key>XKey.customConsonantEnabled</key>
	<false/>
	<key>XKey.customConsonants</key>
	<string>Z,F,W,J</string>
	<key>XKey.debugHotkeyCode</key>
	<integer>2</integer>
	<key>XKey.debugHotkeyModifiers</key>
	<integer>10</integer>
	<key>XKey.debugModeEnabled</key>
	<false/>
	<key>XKey.excludedApps</key>
	<data>
	W10=
	</data>
	<key>XKey.exclusionRulesEnabled</key>
	<true/>
	<key>XKey.imkitUseMarkedText</key>
	<true/>
	<key>XKey.inputMethod</key>
	<integer>0</integer>
	<key>XKey.inputSourceConfig</key>
	<data>
	eyJlbmFibGVkSW5wdXRTb3VyY2VzIjp7ImNvbS5hcHBsZS5pbnB1dG1ldGhvZC5WaWV0
	bmFtZXNlSU0uVmlldG5hbWVzZVNpbXBsZVRlbGV4IjpmYWxzZSwiY29tLmFwcGxlLmlu
	cHV0bWV0aG9kLlZpZXRuYW1lc2VJTSI6ZmFsc2V9fQ==
	</data>
	<key>XKey.instantRestoreOnWrongSpelling</key>
	<false/>
	<key>XKey.macroEnabled</key>
	<false/>
	<key>XKey.macroInEnglishMode</key>
	<false/>
	<key>XKey.menuBarIconStyle</key>
	<string>V</string>
	<key>XKey.modernStyle</key>
	<false/>
	<key>XKey.openDebugOnLaunch</key>
	<false/>
	<key>XKey.quickEndConsonantEnabled</key>
	<false/>
	<key>XKey.quickStartConsonantEnabled</key>
	<false/>
	<key>XKey.quickTelexEnabled</key>
	<false/>
	<key>XKey.restoreIfWrongSpelling</key>
	<true/>
	<key>XKey.showDockIcon</key>
	<false/>
	<key>XKey.smartSwitchData</key>
	<data>
	eyJjb20uYXBwbGUuQ29udGludWl0eUNhcHR1cmVPbmJvYXJkaW5nVUkiOjEsImNvbS5h
	cHBsZS5BY3Rpdml0eU1vbml0b3IiOjAsImNvbS5hcHBsZS5pbnN0YWxsZXIiOjAsImNv
	bS5hcHBsZS5Vbml2ZXJzYWxBY2Nlc3NDb250cm9sIjowLCJjb20uY29kZXRheS5YS2V5
	IjoxLCJjb20uYXBwbGUuTm90ZXMiOjAsImNvbS5nb29nbGUuYW50aWdyYXZpdHkiOjAs
	Im9yZy5wMGRlamUuTWFjY3kiOjEsImNvbS5taWNyb3NvZnQuT3V0bG9vayI6MCwiY29t
	LmFwcGxlLkxpbmtlZE5vdGVzVUlTZXJ2aWNlIjoxLCJjb20ubWljcm9zb2Z0LndkYXYu
	bWFpbnV4IjowLCJjb20uZ29vZ2xlY29kZS5pdGVybTIiOjAsImNvbS5taWNyb3NvZnQu
	YXV0b3VwZGF0ZTIiOjEsImNvbS5hcHBsZS5TcG90bGlnaHQiOjAsImNvbS5hcHBsZS5M
	b2NhbEF1dGhlbnRpY2F0aW9uLlVJQWdlbnQiOjEsImNvbS5hcHBsZS5QcmV2aWV3Ijow
	LCJjb20uZGVza2luLmNsaWVudCI6MCwiY29tLm1pY3Jvc29mdC50ZWFtcyI6MSwiY29t
	LmFwcGxlLlNlY3VyaXR5QWdlbnQiOjAsImNvbS5hcHBsZS5maW5kZXIiOjAsImNvbS5h
	cHBsZS5QYXNzd29yZHMiOjAsImNvbS5hcHBsZS5TY3JlZW5Db250aW51aXR5IjowLCJy
	dS5rZWVwY29kZXIuVGVsZWdyYW0iOjAsImNvbS5hcHBsZS5Vc2VyTm90aWZpY2F0aW9u
	Q2VudGVyIjoxLCJjb20ubWljcm9zb2Z0LlZTQ29kZSI6MCwiY29tLmFwcGxlLlRleHRF
	ZGl0IjowLCJjb20ubWljcm9zb2Z0LnRlYW1zMiI6MSwiY29tLmFwcGxlLmxvZ2lud2lu
	ZG93IjowLCJjb20uYXBwbGUuYWNjZXNzaWJpbGl0eS51bml2ZXJzYWxBY2Nlc3NBdXRo
	V2FybiI6MCwiY29tLmFwcGxlLnN5c3RlbXByZWZlcmVuY2VzIjowLCJjb20ubWljcm9z
	b2Z0LmVkZ2VtYWMiOjF9
	</data>
	<key>XKey.smartSwitchEnabled</key>
	<true/>
	<key>XKey.spellCheckEnabled</key>
	<false/>
	<key>XKey.startAtLogin</key>
	<true/>
	<key>XKey.switchToXKeyHotkeyCode</key>
	<integer>0</integer>
	<key>XKey.switchToXKeyHotkeyIsModifierOnly</key>
	<false/>
	<key>XKey.switchToXKeyHotkeyModifiers</key>
	<integer>0</integer>
	<key>XKey.tempOffToolbarEnabled</key>
	<false/>
	<key>XKey.tempOffToolbarHotkeyCode</key>
	<integer>17</integer>
	<key>XKey.tempOffToolbarHotkeyModifiers</key>
	<integer>10</integer>
	<key>XKey.toggleExclusionHotkeyCode</key>
	<integer>0</integer>
	<key>XKey.toggleExclusionHotkeyModifiers</key>
	<integer>0</integer>
	<key>XKey.toggleHotkeyCode</key>
	<integer>49</integer>
	<key>XKey.toggleHotkeyIsModifierOnly</key>
	<false/>
	<key>XKey.toggleHotkeyModifiers</key>
	<integer>2</integer>
	<key>XKey.toggleWindowRulesHotkeyCode</key>
	<integer>0</integer>
	<key>XKey.toggleWindowRulesHotkeyModifiers</key>
	<integer>0</integer>
	<key>XKey.translateToSourceAutoHideSeconds</key>
	<integer>4</integer>
	<key>XKey.translateToSourceCopyToClipboard</key>
	<false/>
	<key>XKey.translateToSourceHotkeyCode</key>
	<integer>0</integer>
	<key>XKey.translateToSourceHotkeyModifiers</key>
	<integer>0</integer>
	<key>XKey.translateToSourceReplaceOriginal</key>
	<false/>
	<key>XKey.translateToSourceShowPopup</key>
	<true/>
	<key>XKey.translationCopyToClipboard</key>
	<false/>
	<key>XKey.translationEnabled</key>
	<true/>
	<key>XKey.translationHotkeyCode</key>
	<integer>6</integer>
	<key>XKey.translationHotkeyModifiers</key>
	<integer>6</integer>
	<key>XKey.translationReplaceOriginal</key>
	<false/>
	<key>XKey.translationResultAutoHideSeconds</key>
	<integer>0</integer>
	<key>XKey.translationShowPopup</key>
	<true/>
	<key>XKey.translationSourceLanguage</key>
	<string>auto</string>
	<key>XKey.translationTargetLanguage</key>
	<string>vi</string>
	<key>XKey.translationToolbarEnabled</key>
	<false/>
	<key>XKey.undoTypingEnabled</key>
	<true/>
	<key>XKey.undoTypingHotkeyCode</key>
	<integer>0</integer>
	<key>XKey.undoTypingHotkeyIsModifierOnly</key>
	<false/>
	<key>XKey.undoTypingHotkeyModifiers</key>
	<integer>0</integer>
	<key>XKey.upperCaseFirstChar</key>
	<false/>
	<key>XKey.windowTitleRulesEnabled</key>
	<true/>
	<key>_appVersion</key>
	<string>1.2.21</string>
	<key>_exportDate</key>
	<string>2026-05-19T04:51:26Z</string>
	<key>_exportVersion</key>
	<integer>1</integer>
</dict>
</plist>
